/*          1st  image CSS code      */
.box_model{

    border: 1px rgb(84, 235, 117) solid;
    padding: 60px;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 10px auto;
    margin-top: 200px ;
    width: 400px;
    background-color: rgb(87, 222, 141);
    border-radius: 10px;
    
}
.h1{
    
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p{
        margin-bottom: 20px;
    font-family:'Times New Roman', Times, serif
}
.button{
    padding: 16px 32px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    font-size: 10px;
    text-align: center;

    
}
/*          BY:- UTKARSH GAUTAM       */