/* 2nd image css code */
body{
    color: aliceblue;
}
.container{
    width: 700px;
    margin: 10px auto;
    position: relative;
}
.image{
    width: 100%;
    border-radius: 17px;
}
.content{
    position: absolute;
    bottom: 120px;
    left: 70px;
    text-align: center;
}
.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 25px;
}
/* BY:- UTKARSH GAUTAM */